In [3]:
a, b = 0, 1

for _ in range(10):
    print(a, end=" ")
    a, b = b, a + b

0 1 1 2 3 5 8 13 21 34

In [4]:
num = 121

if str(num) == str(num)[::-1]:
    print("Palindrome")
else:
    print("Not Palindrome")

Palindrome

In [5]:
num = 5
fact = 1

for i in range(1, num + 1):
    fact *= i

print("Factorial:", fact)

Factorial: 120

In [6]:
for num in range(1, 21):
    if num > 1:
        for i in range(2, num):
            if num % i == 0:
                break
        else:
            print(num, end=" ")

2 3 5 7 11 13 17 19

In [7]:
num = 1234
rev = 0

while num > 0:
    digit = num % 10
    rev = rev * 10 + digit
    num //= 10

print("Reversed:", rev)

Reversed: 4321

In [ ]:
# Edit list
fruits = ['apple', 'orange', 'banana']
print(fruits)

fruits[2] = 'grapes'
print(fruits)

In [8]:

# old tuple
ot = ('a', 'b', 'c')

# new tuple
nt = ot + ('d',)

print(ot)
print(nt)

('a', 'b', 'c')
('a', 'b', 'c', 'd')

In [9]:
# Mini Truecaller dictionary
user = {}

# Adding phone numbers and names
user["979"] = "ashna"
user["123"] = "pooja"
user["456"] = "rahul"

# Print full database
print("Full Contact List:")
print(user)

print("\nPhone Number -> Name")
for k, v in user.items():
    print(k, "->", v)

Full Contact List:
{'979': 'ashna', '123': 'pooja', '456': 'rahul'}

Phone Number -> Name
979 -> ashna
123 -> pooja
456 -> rahul

In [10]:
num = 10
if None:
    print("num is +")
print("This will print always")

This will print always

In [21]:
num=15
if(num>=10 or 20<num):
    print("num is positive")
elif (num>10 and 20>num):
    print("Second loop")
else :
    print("Fail")

num is positive

In [23]:
for i in range(5):
    print(i)

0
1
2
3
4

In [26]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [27]:
x=[2,3,4,6]
for data in x:
    print(data)
else:
    print("no data")

2
3
4
6
no data

In [29]:
x=[2,3,4,6]
for data in x :
    if data%2==0:
        print(data)
        print("data running")
        
else:
    print ("Nil")

2
data running
4
data running
6
data running
Nil

In [37]:
num=10
if num % i == 0:
    print("yes")
else:
    print("no")

no

In [50]:
x=[1,2,3,4,5]
for data in x:
    if data%2==0:
        continue
     #print(data)   
else:
    print("list over")

list over

In [56]:
user_id=[2,4,6,7,8]
for id in user_id:
    print(id)
    if id==4:
        print("yes find")
        break
else:
    print("not find")

2
4
yes find

In [60]:
user_id=[2,4,6,7,8]
for id in user_id:
    print(id)
    if id!=4:
        print("not find")
        #continue
else:
    print(" find")

2
not find
4
6
not find
7
not find
8
not find
 find

In [61]:

for num in range(1, 10):
    if num == 5:
        print("Breaking loop at", num)
        break 
    print("Number:", num)


for num in range(1, 10):
    if num % 2 == 0:
        continue  
    print("Odd number:", num)

Number: 1
Number: 2
Number: 3
Number: 4
Breaking loop at 5
Odd number: 1
Odd number: 3
Odd number: 5
Odd number: 7
Odd number: 9

In [65]:
list1=[1,2,3,4,5]
list2=[6,7,8,9,10]
list1.append(list2)
print(list1)

[1, 2, 3, 4, 5, [6, 7, 8, 9, 10]]

In [66]:
list1=[1,2,3,4,5]
list2=[6,7,8,9,10]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [67]:
list1=[1,2,3,4,5]
list2=[]
list1.append(6)
print(list1)

[1, 2, 3, 4, 5, 6]

In [69]:
a=[1,2.9,3,-4,5]
b=["one","two","three"]
print(a.sort())
print(b.sort())

None
None

In [73]:
list="i,am,learning,python"
list2=list.split(',')
print(list)
print(list2)
print(type(list))

i,am,learning,python
['i', 'am', 'learning', 'python']
<class 'str'>

In [74]:
list=[2,4,6,8,10]
print(list[-4])

4

In [75]:
list1=[2,4,6,8]
list2=[1,3,5,7,9]
list3=list1+list2
print(list3)

[2, 4, 6, 8, 1, 3, 5, 7, 9]

In [77]:
p = [x**2 for x in range(10)]
print(p)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
matrix=[[1,2,3,4],[],[],[]]

In [14]:
def transpose_matrix(mat):
    # Using list comprehension
    return [[mat[j][i] for j in range(len(mat))] for i in range(len(mat[0]))]

matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

transposed = transpose_matrix(matrix)
print("Transposed Matrix (function):")
for row in transposed:
    print(row)

Transposed Matrix (function):
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

In [81]:
lst=(1,(2,3),['hi',9,8.7])
print(lst[1][1])

3

In [82]:
lst=('hi',)
print(type(lst))

<class 'tuple'>

In [18]:
lst = ('hi', [1, 'hello'], 3.5, 'hello')

# Modify the inner list (mutable)
lst[1][1] = 'hy'

print(lst[1][1])

hy

In [16]:
lst=(('name ')*5)
print(lst)

name name name name name

In [91]:
lst=[1,2,3,4,5]
del(lst)
#print(lst)

In [98]:
lst=(1,2,3,1,8,3,5,3,4,5)
print(lst.index(2))
print(lst.count(3))
print(len(lst))
print(sum(lst))
print(min(lst))
print(max(lst))

1
3
10
35
1
8

In [99]:
import math as lst

print(lst.factorial(4))

24

In [100]:
import statistics as lst

print(lst.mean((1,2,3,1,8,3,5,3,4,5)))

3.5

In [13]:
my_list = [1, 2, 3, 4]
emplist = my_list.copy()

print(emplist)          # [1, 2, 3, 4]
print(id(my_list))      # prints memory address of my_list
print(id(emplist))      # different memory address

[1, 2, 3, 4]
44209816
49643760

In [12]:
name = "ashna"
print(id(name))

49645424

In [114]:
lst={1,2,3,4,5}
lst.add(6)
lst.update([7,10,3])
print(lst)

{1, 2, 3, 4, 5, 6, 7, 10}

In [11]:
lst = {1, 2, 5, 3}

# Use discard to avoid errors
lst.discard(9)
print(lst)  # {1, 2, 3, 5}

# Remove an existing element
lst.remove(2)
print(lst)  # {1, 3, 5}

{1, 2, 3, 5}
{1, 3, 5}

In [117]:
lst={1,2,3,4,5,6,7}
a=list.pop()
print(a)
b=list.pop()
print(b)
print(lst)
lst.clear()

2
1
{1, 2, 3, 4, 5, 6, 7}

In [ ]:
lsit1={1,2,3,4,5,6,7,8,9}
list2={10,11,2,3,7,122,33}

print(list1 | lst2)
print(lst1.union(lst2))

print(list1 & lst2)
print(lst1.intersection(lst2))

print(list1 - lst2)
print(lst1.difference(lst2))

print(list1 ^ lst2)
print(lst1.symmetric_difference(lst2))

In [119]:
lsit1=frozenset([1,2,3,4,5,6,7,8,9])
list2=frozenset([10,11,2,3,7,122,33])
print(list2)

frozenset({33, 2, 3, 7, 10, 11, 122})

In [121]:
#dictnory
name={10:'rajiv',2:'shyam'}
name[1]='raju'
print(type(name))
print(name)
print(name.get(1))

<class 'dict'>
{10: 'rajiv', 2: 'shyam', 1: 'raju'}
raju

In [123]:
covid={1:'rajiv',2:'shyam',3:'shillu'}
print(covid)
print(covid.pop(2))
print(covid)
print(covid.popitem())
print(covid)

{1: 'rajiv', 2: 'shyam', 3: 'shillu'}
shyam
{1: 'rajiv', 3: 'shillu'}
(3, 'shillu')
{1: 'rajiv'}

In [124]:
covid={1:'rajiv',2:'shyam',3:'shillu'}
print(covid)
del covid[2]
print(covid)

{1: 'rajiv', 2: 'shyam', 3: 'shillu'}
{1: 'rajiv', 3: 'shillu'}

In [125]:
covid={1:'rajiv',2:'shyam',3:'shillu'}
print(covid)
del covid[2]
print(covid)
covid.clear()
print(covid)

{1: 'rajiv', 2: 'shyam', 3: 'shillu'}
{1: 'rajiv', 3: 'shillu'}
{}

In [126]:
covid={1:'rajiv',2:'shyam',3:'shillu'}
covaxine=covid.copy()
print(covid)
print(covaxine)

{1: 'rajiv', 2: 'shyam', 3: 'shillu'}
{1: 'rajiv', 2: 'shyam', 3: 'shillu'}

In [127]:
sub=dict.fromkeys({'math','english','hindhi'},'0')
print(sub)

{'hindhi': '0', 'english': '0', 'math': '0'}

In [128]:
sub=dict.fromkeys({'math','english','hindhi'},'0')
print(sub.items())

dict_items([('hindhi', '0'), ('english', '0'), ('math', '0')])

In [129]:
list={}
print(dir(list))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [131]:
squ={2:4,4:8,8:16}
d_squ={ k:v  for k,v in squ.items() if v>9}
print(d_squ)

{8: 16}

In [ ]:
lst={2:4}

In [ ]:
lst={2:4}

In [ ]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

rows = len(matrix)
cols = len(matrix[0])
transpose = []
for i in range(cols):
    new_row = []
    for j in range(rows):
        new_row.append(matrix[j][i])
    transpose.append(new_row)
print("Transpose:")
for row in transpose:
    print(row)

In [2]:
list1 = [1, 2, 3]
list2 = list1.copy()
list2.append(4)
print("List1:", list1)
print("List2:", list2)

List1: [1, 2, 3]
List2: [1, 2, 3, 4]

In [1]:
a = 10
temp = a      
a = None      
print("After delete:", a)
a = temp     
print("After reassignment:", a)

After delete: None
After reassignment: 10